<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meadowlark Travel</title>
</head>
<body>
  <header>
      <img src="/Users/younghunpark/WebstormProjects/web_node/img/logo.png" alt="Meadowlark Travel">
  </header>
  {{{body}}}
</body>
</html>
